.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: auto;
    height: auto;
    max-width: 35px;
    max-height: 35px;
  }

  &.default svg { fill: var(--secondary-color) }

  &.light svg { fill: white }
}
