.container {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-highlight-background-color);
  color: var(--surface-highlight-text-primary-color);
  box-shadow: 0.1rem 0.1rem 0.3rem var(--surface-highlight-shadow-color);
  border: none;
  border-radius: 0.5rem;
}